<!-- component -->
<style>
  .login_img_section {
  background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url(https://images.unsplash.com/photo-1616763355603-9755a640a287?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) center center;
}
</style>
<div class="h-screen flex">
  <div class="hidden lg:flex w-full lg:w-1/2 login_img_section justify-around items-center">
    <div class="w-full mx-auto px-20 flex-col items-center space-y-6">
      <img src="../assets/img/smartRH.png" alt="logo" width="100%">
      <div class="flex justify-center lg:justify-start mt-6">
        <a routerLink="/dashboard" class="hover:bg-indigo-700 hover:text-white hover:-translate-y-1 transition-all duration-500 bg-white text-indigo-800 mt-4 px-4 py-2 rounded-2xl font-bold mb-2">Retour a l'Accueil</a>
      </div>
    </div>
  </div>
  <!-- component -->
<div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
  <div class="container max-w-screen-lg mx-auto">
    <div>
      <h2 class="font-semibold text-xl text-gray-600">NOUVEAU CLIENT</h2>
      
      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6" *ngIf="comps.length === 0">
        <form #compForm="ngForm">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-1">
          <div class="lg:col-span-2">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
              <div class="md:col-span-5">
                <label for="rSocial">Raison Social</label>
                <input type="text" required [(ngModel)]="comp.rSocial" name="rSocial" id="name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" value="" />
              </div>

              <div class="md:col-span-5">
                <label for="email">Email Address</label>
                <input type="text" required [(ngModel)]="comp.email" name="email" id="email" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" value="" placeholder="email@domain.com" />
              </div>

              <div class="md:col-span-5">
                <label for="adress">Adresse</label>
                <input type="text" required [(ngModel)]="comp.adress" name="adress" id="adress" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" value="" />
              </div>

              <div class="md:col-span-3">
                <label for="numContri">Numero de Contribuable</label>
                <input type="text" required [(ngModel)]="comp.numContri" name="numContri" id="numc" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" value="" placeholder="" />
              </div>

              <div class="md:col-span-2">
                <label for="tel">Telephone</label>
                <input type="text" required [(ngModel)]="comp.tel" name="tel" id="tel" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" value="" placeholder="" />
              </div>

              <div class="md:col-span-2">
                <label for="rc">RC</label>
                <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                  <input required [(ngModel)]="comp.rc" name="rc" id="rc" placeholder=" " class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" value="" />
                </div>
              </div>

              <div class="md:col-span-2">
                <label for="numcnps">N° CNPS</label>
                <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                  <input required [(ngModel)]="comp.numCnps" name="numCnps" id="numcnps" placeholder="" class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" value="" />
                </div>
              </div>

              <div class="md:col-span-1">
                <label for="cle">Clé Dipe</label>
                <input type="text" required [(ngModel)]="comp.cle" name="cle" id="cledip" class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" placeholder="" value="" />
              </div>
              
              <div class="md:col-span-5 text-right">
                <div class="inline-flex items-end">
                  <button [disabled]="!compForm.form.valid" *ngIf="!canUpd" (click)="onCreate()" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                      Ajouter
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    
    </div>
  </div>
</div>
</div>